﻿@model Shop.ViewModels.ShopCartViewModel

<div class = "container">
@foreach (var el in Model.ShopCart.ListShopItems)
{
    <div class ="alert alert-warning mt-3">
    <b>Автомобиль: </b> @el.Car.Name<br />
    <b>Цена: </b>@el.Car.Price.ToString("C")
    </div>
}
<hr/>
<div class ="btn btn-danger" asp-controller="Order"> Оплатить</div>
</div>
