﻿@using Shop.Data.Models
<h1>Все автомобили</h1>
<h3>@Model.currCategory</h3>

<div class ="row mt-5 mb-2">
@{
    foreach (Car car in Model.AllCars)
    {
        @Html.Partial("AllCars", car)
    }
}
</div>
