﻿@model Shop.Data.Models.Car

<div class="col-lg-4">
    <img class ="img-thumbnail" src="@Model.Img" alt =" @Model.Name">
    <h2>Модель: @Model.Name</h2>
    <p>@Model.ShortDesc</p>
    <p>Цена: @Model.Price.ToString("C")</p>
    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
</div>