﻿@using Shop.Data.Models
@model Shop.ViewModels.HomeViewModel

<h1>Лучшие автомобили</h1>
<div class ="row mt-5 mb-2">

@{
    foreach (Car car in Model.FavCars)
    {
        @Html.Partial("AllCars", car)
    }
}
</div>
